designs/server/services/common/payment_req/payment_api.json
[
    {
        "id": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "type": "tab",
        "createdDate": "2024-02-13T18:41:03.147Z",
        "label": "payment_api",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "payment_api",
        "relativeParentPath": "common/payment_req"
    },
    {
        "id": "sd_tNpVvNJdIKoDv0Bq",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "created Instanse ",
        "script": "bh.local.stripe = require(\"stripe\")(process.env.STRIPE_SECRET_TEST_KEY);",
        "functionName": "createdInstanse",
        "category": "Function",
        "x": 365,
        "y": 180,
        "wires": [
            [
                "sd_euDUGxX1YeixLA1x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_api",
        "generated": true
    },
    {
        "id": "sd_N8lhrXUSksLws7ga",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "data.payment_method",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.data.payment_method",
        "rules": [
            {
                "t": "eq",
                "v": "cash",
                "vt": "str",
                "gv": "\"cash\""
            },
            {
                "t": "eq",
                "v": "stripe",
                "vt": "str",
                "gv": "\"stripe\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_N8lhrXUSksLws7ga",
        "category": "Function",
        "x": 245,
        "y": 80,
        "wires": [
            [
                "sd_nSikfLfe51N55pHa"
            ],
            [
                "sd_tNpVvNJdIKoDv0Bq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_api",
        "generated": true
    },
    {
        "id": "sd_euDUGxX1YeixLA1x",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_jfya9jPAl3GjcYYn",
            "type": "tab",
            "createdDate": "2024-02-14T06:51:47.302Z",
            "label": "payment_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_T2Za2TH8DXV6A90R",
            "flowName": "generateRazorPayOrder"
        },
        "inputVariables": [
            {
                "key": "instance",
                "map": true,
                "valueType": "bh.local",
                "value": "stripe"
            },
            {
                "key": "data",
                "map": true,
                "valueType": "bh.input",
                "value": "data"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "resultdata",
                "mapVarName": "response",
                "localVar": "bh.local.resultdata"
            }
        ],
        "callService": "./payment_service",
        "startName": "generateRazorPayOrder",
        "inputParams": [
            "bh.local.stripe",
            "bh.input.data"
        ],
        "accept_bh": false,
        "functionName": "sd_euDUGxX1YeixLA1x",
        "category": "General",
        "x": 485,
        "y": 180,
        "wires": [
            [
                "sd_MdL8CkPu98huVHVv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generated": true,
        "generateNext": false,
        "serviceName": "payment_api"
    },
    {
        "id": "sd_nSikfLfe51N55pHa",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_l5yYyef8zSJYH0UY",
            "type": "tab",
            "createdDate": "2024-02-14T08:35:09.827Z",
            "label": "payment_cash_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ktQmTuVG8y1Gqq3W",
            "flowName": "cashOrder"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "bh.input",
                "value": "data"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "resultdata",
                "mapVarName": "response",
                "localVar": "bh.local.resultdata"
            }
        ],
        "callService": "./payment_cash_service",
        "startName": "cashOrder",
        "inputParams": [
            "bh.input.data"
        ],
        "accept_bh": false,
        "functionName": "sd_nSikfLfe51N55pHa",
        "category": "General",
        "x": 485,
        "y": 60,
        "wires": [
            [
                "sd_MdL8CkPu98huVHVv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_api",
        "generated": true
    },
    {
        "id": "sd_RFvxaGlDwTqFGT4z",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "payment_start",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "response",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "paymentStart",
        "category": "General",
        "x": 105,
        "y": 80,
        "wires": [
            [
                "sd_N8lhrXUSksLws7ga"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payment_api",
        "generated": false
    },
    {
        "id": "sd_MdL8CkPu98huVHVv",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Status Report",
        "script": "bh.local.response={\n    statusCode:bh.local.resultdata.statusCode,\n    data:bh.local.resultdata.data\n}\n",
        "functionName": "statusReport",
        "category": "Function",
        "x": 665,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_api",
        "generated": true
    },
    {
        "id": "sd_K49qqfyGwtAunGqT",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Status_error_report",
        "script": "bh.local.response={\n    statusCode:400,\n    error:bh.error.message\n}",
        "functionName": "statusErrorReport",
        "category": "Function",
        "x": 345,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_api",
        "generated": true
    },
    {
        "id": "sd_jEmjtVvc8iu6dMwX",
        "type": "Catch",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "common",
        "nodeType": "start",
        "name": "error_handle",
        "selectedNodes": "all-nodes",
        "selectCatchType": "allnodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_K49qqfyGwtAunGqT"
        ],
        "functionName": "errorHandle",
        "category": "General",
        "x": 185,
        "y": 340,
        "wires": [
            [
                "sd_K49qqfyGwtAunGqT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payment_api",
        "generated": false
    }
]
