designs/server/services/common/payment_req/payment_api.json
[
    {
        "id": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "type": "tab",
        "createdDate": "2024-02-13T18:41:03.147Z",
        "label": "payment_api",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "payment_api",
        "relativeParentPath": "common/payment_req"
    },
    {
        "id": "sd_tNpVvNJdIKoDv0Bq",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "created Instanse ",
        "script": "const Razorpay = require(\"razorpay\");\nbh.local.instance = new Razorpay({\n  key_id: process.env.RAZORPAY_KEY_ID,\n  key_secret: process.env.RAZORPAY_SECRET,\n});",
        "functionName": "createdInstanse",
        "category": "Function",
        "x": 365,
        "y": 180,
        "wires": [
            [
                "sd_euDUGxX1YeixLA1x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_api",
        "generated": true
    },
    {
        "id": "sd_km40Zc8lTmNthZ2S",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "server",
        "nodeType": "start",
        "name": "payment",
        "path": "payment",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "data",
                    "desc": "erfwdsa",
                    "type": "body",
                    "required": false,
                    "rowId": "sd_muEuoO1ZWwLycoko",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "sd_N8lhrXUSksLws7ga"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "payment_api",
        "functionName": "sd_km40Zc8lTmNthZ2S"
    },
    {
        "id": "sd_5M72mFg41g44r7o1",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "server",
        "nodeType": "flow",
        "name": "payment_http_out",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "response",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh.local",
            "value": "response.statusCode",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.local.response.statusCode",
            "obj": "bh.local.response",
            "send": "bh.local.response"
        },
        "dataModelIsArray": false,
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "paymentHttpOut",
        "category": "HTTP",
        "x": 685,
        "y": 140,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_api",
        "generated": true
    },
    {
        "id": "sd_N8lhrXUSksLws7ga",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "body.payment_method",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.body.payment_method",
        "rules": [
            {
                "t": "eq",
                "v": "cash",
                "vt": "str",
                "gv": "\"cash\""
            },
            {
                "t": "eq",
                "v": "razorpay",
                "vt": "str",
                "gv": "\"razorpay\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_N8lhrXUSksLws7ga",
        "category": "Function",
        "x": 205,
        "y": 160,
        "wires": [
            [
                "sd_nSikfLfe51N55pHa"
            ],
            [
                "sd_tNpVvNJdIKoDv0Bq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_api",
        "generated": true
    },
    {
        "id": "sd_euDUGxX1YeixLA1x",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_jfya9jPAl3GjcYYn",
            "type": "tab",
            "createdDate": "2024-02-14T06:51:47.302Z",
            "label": "payment_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_T2Za2TH8DXV6A90R",
            "flowName": "generateRazorPayOrder"
        },
        "inputVariables": [
            {
                "key": "instance",
                "map": true,
                "valueType": "bh.local",
                "value": "instance"
            },
            {
                "key": "data",
                "map": true,
                "valueType": "bh.input",
                "value": "body"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "callService": "./payment_service",
        "startName": "generateRazorPayOrder",
        "inputParams": [
            "bh.local.instance",
            "bh.input.body"
        ],
        "accept_bh": false,
        "functionName": "sd_euDUGxX1YeixLA1x",
        "category": "General",
        "x": 485,
        "y": 180,
        "wires": [
            [
                "sd_5M72mFg41g44r7o1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_api",
        "generated": true
    },
    {
        "id": "sd_nSikfLfe51N55pHa",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_l5yYyef8zSJYH0UY",
            "type": "tab",
            "createdDate": "2024-02-14T08:35:09.827Z",
            "label": "payment_cash_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ktQmTuVG8y1Gqq3W",
            "flowName": "cashOrder"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "bh.input",
                "value": "body"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "callService": "./payment_cash_service",
        "startName": "cashOrder",
        "inputParams": [
            "bh.input.body"
        ],
        "accept_bh": false,
        "functionName": "sd_nSikfLfe51N55pHa",
        "category": "General",
        "x": 485,
        "y": 60,
        "wires": [
            [
                "sd_5M72mFg41g44r7o1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "payment_api",
        "generated": true
    }
]
