designs/server/services/common/create_appointment/appointment_service.json
[
    {
        "id": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "type": "tab",
        "createdDate": "2024-02-13T12:57:35.383Z",
        "label": "appointment_service",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "appointment_service",
        "relativeParentPath": "common/create_appointment"
    },
    {
        "id": "sd_lPeuyHWnwoNO2Mr8",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "payment_data",
        "script": "bh.local.paymentdata={    \n      \"appointment_id\":bh.local.resultdata?.id,\n      \"user_id\":bh.local.resultdata?.user_id,\n      \"doctor_id\":bh.local.resultdata?.doctor_id,\n      \"payment_method\":bh.input.data?.payment_method,\n      \"cash\":bh.local.resultdata?.cash,\n      \"status\":bh.input.status,\n      \"sucess_url\":bh.input.data?.sucess_url,\n      \"cancel_url\": bh.input.data?.cancel_url\n      }",
        "functionName": "paymentData",
        "category": "Function",
        "x": 2525,
        "y": 220,
        "wires": [
            [
                "sd_6oaugOlUcCsbWqNI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_qkPyDTRY2em7dUSR",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "create_appointment_flow",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "response",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "createAppointmentFlow",
        "category": "General",
        "x": 125,
        "y": 100,
        "wires": [
            [
                "sd_zrqZR5wZuM9EEWTE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "appointment_service"
    },
    {
        "id": "sd_1lhDY9ucbweZ5nGv",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "create_user_flow",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_1utwBDtR9iw7QRXa",
            "type": "tab",
            "createdDate": "2024-02-12T17:14:44.334Z",
            "label": "create_user_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_Byb1meamDLsfKtLt",
            "flowName": "createUserFlow"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "bh.local",
                "value": "users"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "user_response",
                "mapVarName": "response",
                "localVar": "bh.local.user_response"
            }
        ],
        "callService": "../../users/create_user/create_user_service",
        "startName": "createUserFlow",
        "inputParams": [
            "bh.local.users"
        ],
        "accept_bh": false,
        "functionName": "createUserFlow",
        "category": "General",
        "x": 725,
        "y": 240,
        "wires": [
            [
                "sd_83rrv4qrlNpagft5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_OqW1iGu1zHMxnYkq",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "user_script",
        "script": "bh.local.users={\n      \"id\": 0,\n      \"name\": bh.input?.data?.name,\n      \"phone_no\": bh.input?.data?.phone_no,\n      \"dob\": bh.input?.data?.dob,\n      \"place\": bh.input?.data?.place,\n      \"address\": bh.input?.data?.address,\n      \"pin_code\": bh.input?.data?.pin_code,\n      \"email\": bh.input?.data?.email,\n      \"blood_group\": bh.input?.data?.blood_group\n    }\n  ",
        "functionName": "userScript",
        "category": "Function",
        "x": 625,
        "y": 240,
        "wires": [
            [
                "sd_1lhDY9ucbweZ5nGv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_NvbJXBAxQ7PWlZFo",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "token_finder_script ",
        "script": "bh.input.filterdata={\n    \"tablename\":\"appointments\",\n    \"columns\":[\"MAX(token_number) as token_number\"],\n    \"datas\":{\n        \"doctor_id\":[bh.input?.data?.doctor_id],\n        \"appointment_date\":[bh.input.formattedDate],\n    },\n    \"groupby\":[\"doctor_id\"]\n}",
        "functionName": "tokenFinderScript",
        "category": "Function",
        "x": 1105,
        "y": 220,
        "wires": [
            [
                "sd_OWspeXKLxlzgBAYN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_6Q5R0am0hoJaY6U1",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Error_token_limit",
        "script": "if(bh.local?.doctor_response?.token_limit<bh.local.token+1){\n    throw new Error(\"Token Limit Exceed\");\n}",
        "functionName": "errorTokenLimit",
        "category": "Function",
        "x": 1865,
        "y": 220,
        "wires": [
            [
                "sd_3qF86QE90JO9OGPH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_AVbrERh80Wtu5zGR",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "appointment",
        "script": "bh.local.appointment={\n    id:0,\n    user_id :bh.local?.user_response?.id,\n    doctor_id :bh.input?.data?.doctor_id,\n    appointment_date: bh.input.formattedDate,\n    token_number :bh.local.token+1,\n    cash :bh.input?.data?.cash,\n    age:bh.input.age,\n    url:bh.local?.uploaddata?.data?.url,\n    status : bh.input.status\n}",
        "functionName": "appointment",
        "category": "Function",
        "x": 2125,
        "y": 220,
        "wires": [
            [
                "sd_zyqekgl9w1v4079g"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_Wq9YCh3Yn5ajALIp",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "date_and_age",
        "script": "const currentDate = new Date();\nconst year = currentDate.getFullYear();\nconst month = currentDate.getMonth() + 1; // Month is zero-based, so add 1\nconst day = currentDate.getDate();\nbh.input.formattedDate = `${year}-${month < 10 ? \"0\" + month : month}-${\n  day < 10 ? \"0\" + day : day\n}`;\nconst dob = new Date(bh.local?.user_response?.dob);\nbh.input.age = year - dob.getFullYear();\n\n// Check if the birthday hasn't occurred yet this year\nif (month < dob.getMonth() || (month === dob.getMonth() && day < dob.getDate())) {\n    bh.input.age--;\n}\n",
        "functionName": "dateAndAge",
        "category": "Function",
        "x": 985,
        "y": 220,
        "wires": [
            [
                "sd_NvbJXBAxQ7PWlZFo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_zyqekgl9w1v4079g",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "appoinment_flow",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_Fm1xxqvPxjmjZV2a",
            "type": "tab",
            "createdDate": "2024-02-12T17:24:13.883Z",
            "label": "create_appointment_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_1R0EhmuVGDk0Ltj1",
            "flowName": "createAppointmentFlow"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "bh.local",
                "value": "appointment"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "resultdata",
                "mapVarName": "response",
                "localVar": "bh.local.resultdata"
            }
        ],
        "callService": "../../appointments/create_appointment/create_appointment_service",
        "startName": "createAppointmentFlow",
        "inputParams": [
            "bh.local.appointment"
        ],
        "accept_bh": false,
        "functionName": "appoinmentFlow",
        "category": "General",
        "x": 2245,
        "y": 220,
        "wires": [
            [
                "sd_NZnQKeQzIIQlJaPI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_83rrv4qrlNpagft5",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "user_error_handler",
        "script": "if(bh.local.user_response?.statusCode==200){\n    bh.local.user_response=bh.local.user_response?.data\n}\nelse{\n    throw new Error(\"Some error Occured try again later\")\n}\nbh.input.status=\"pending\"",
        "functionName": "userErrorHandler",
        "category": "Function",
        "x": 845,
        "y": 240,
        "wires": [
            [
                "sd_Wq9YCh3Yn5ajALIp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_rSJjxCm3xlsgnV3O",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "token_error_handler",
        "script": "if(bh.local.token?.statusCode==200){\n    bh.local.token=bh.local.token?.data?.[0]?.token_number||0\n}\nelse{\n    throw new Error(\"Some error Occured try again later\")\n}\nconsole.log(bh.local.token)",
        "functionName": "tokenErrorHandler",
        "category": "Function",
        "x": 1385,
        "y": 220,
        "wires": [
            [
                "sd_50OcWwyndouCjK7H"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_WY01PFLnaJqS39rG",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "doctor_error_handler",
        "script": "if(bh.local.doctor_response?.statusCode==200){\n    bh.local.doctor_response=bh.local.doctor_response?.data?.[0]\n}else{\n    throw new Error(\"Some error Occured try again later\")\n}\n",
        "functionName": "doctorErrorHandler",
        "category": "Function",
        "x": 1725,
        "y": 220,
        "wires": [
            [
                "sd_6Q5R0am0hoJaY6U1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_zrqZR5wZuM9EEWTE",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "user_finder_script ",
        "script": "bh.input.filterdata={\n      \"tablename\":\"users\",\n      \"datas\":{\n        \"name\": [bh.input?.data?.name],\n        \"phone_no\": [bh.input?.data?.phone_no],\n        \"dob\": [bh.input?.data?.dob],\n      }\n}",
        "functionName": "userFinderScript",
        "category": "Function",
        "x": 305,
        "y": 100,
        "wires": [
            [
                "sd_8Exr912Zqy29uxvJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_wPn4hopPNjxflJcO",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "user_dublicate_handler",
        "property": "user_response.data.length",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.user_response.data.length",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "num",
                "gv": "1"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "userDublicateHandler",
        "category": "Function",
        "x": 605,
        "y": 100,
        "wires": [
            [
                "sd_O4Prdq6l8VdkfEyS"
            ],
            [
                "sd_OqW1iGu1zHMxnYkq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_O4Prdq6l8VdkfEyS",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "users_error_handler",
        "script": "if(bh.local.user_response?.statusCode==200){\n    bh.local.user_response=bh.local.user_response?.data?.[0]\n}\nelse{\n    throw new Error(\"Some error Occured try again later\")\n}\nbh.input.status=\"paid\"",
        "functionName": "usersErrorHandler",
        "category": "Function",
        "x": 765,
        "y": 100,
        "wires": [
            [
                "sd_Wq9YCh3Yn5ajALIp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_6oaugOlUcCsbWqNI",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "payment_service",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_5uKBgMCMEY9EmeOD",
            "type": "tab",
            "createdDate": "2024-02-13T18:41:03.147Z",
            "label": "payment_api",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_RFvxaGlDwTqFGT4z",
            "flowName": "paymentStart"
        },
        "inputVariables": [
            {
                "key": "data",
                "map": true,
                "valueType": "bh.local",
                "value": "paymentdata"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "paymentresponse",
                "mapVarName": "response",
                "localVar": "bh.local.paymentresponse"
            }
        ],
        "callService": "../payment_req/payment_api",
        "startName": "paymentStart",
        "inputParams": [
            "bh.local.paymentdata"
        ],
        "accept_bh": false,
        "functionName": "paymentService",
        "category": "General",
        "x": 2645,
        "y": 220,
        "wires": [
            [
                "sd_iOB5bY8BAZWXDLpv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_iOB5bY8BAZWXDLpv",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "payment_error_handler",
        "script": "if(bh.local.paymentresponse?.statusCode==200){\n    bh.local.paymentresponse=bh.local.paymentresponse?.data\n}else{\n    throw new Error(\"Some error Occured try again later\")\n}\n",
        "functionName": "paymentErrorHandler",
        "category": "Function",
        "x": 2805,
        "y": 220,
        "wires": [
            [
                "sd_4TXnC8G2GW745azM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_4TXnC8G2GW745azM",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Status Report",
        "script": "bh.local.response={\n    statusCode:200,\n    data:{\n        data:bh.local.resultdata,\n        url:bh.local.paymentresponse\n    }\n}\nconsole.log(bh.local.response)",
        "functionName": "statusReport",
        "category": "Function",
        "x": 2965,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_NZnQKeQzIIQlJaPI",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "appointment_error_handler",
        "script": "if(bh.local.resultdata?.statusCode==200){\n    bh.local.resultdata=bh.local.resultdata?.data\n}else{\n    throw new Error(\"Some error Occured try again later\")\n}",
        "functionName": "appointmentErrorHandler",
        "category": "Function",
        "x": 2385,
        "y": 220,
        "wires": [
            [
                "sd_lPeuyHWnwoNO2Mr8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_3qF86QE90JO9OGPH",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "file_upload",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_sebhAvpyjJHu1R1Z",
            "type": "tab",
            "createdDate": "2024-02-17T06:58:32.850Z",
            "label": "upload_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_07iEQZ9DJSG3sXxR",
            "flowName": "fileUploadUsingCloudinary"
        },
        "inputVariables": [
            {
                "key": "file",
                "map": true,
                "valueType": "bh.input",
                "value": "data.newFile"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "uploaddata",
                "mapVarName": "response",
                "localVar": "bh.local.uploaddata"
            }
        ],
        "callService": "../../pdf/upload_service",
        "startName": "fileUploadUsingCloudinary",
        "inputParams": [
            "bh.input.data.newFile"
        ],
        "accept_bh": false,
        "functionName": "fileUpload",
        "category": "General",
        "x": 2005,
        "y": 220,
        "wires": [
            [
                "sd_AVbrERh80Wtu5zGR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_8Exr912Zqy29uxvJ",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "user_filter",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_YH9aqPJ68KAnCtkB",
            "type": "tab",
            "createdDate": "2024-02-17T18:43:47.614Z",
            "label": "filterservice",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_wYU9zqSZwf22vVhQ",
            "flowName": "filterSpecific"
        },
        "inputVariables": [
            {
                "key": "filter",
                "map": true,
                "valueType": "bh.input",
                "value": "filterdata"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "user_response",
                "mapVarName": "response",
                "localVar": "bh.local.user_response"
            }
        ],
        "callService": "../../filter/filterservice",
        "startName": "filterSpecific",
        "inputParams": [
            "bh.input.filterdata"
        ],
        "accept_bh": false,
        "functionName": "userFilter",
        "category": "General",
        "x": 425,
        "y": 100,
        "wires": [
            [
                "sd_wPn4hopPNjxflJcO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_OWspeXKLxlzgBAYN",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "appointment_token_filter",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_YH9aqPJ68KAnCtkB",
            "type": "tab",
            "createdDate": "2024-02-17T18:43:47.614Z",
            "label": "filterservice",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_wYU9zqSZwf22vVhQ",
            "flowName": "filterSpecific"
        },
        "inputVariables": [
            {
                "key": "filter",
                "map": true,
                "valueType": "bh.input",
                "value": "filterdata"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "token",
                "mapVarName": "response",
                "localVar": "bh.local.token"
            }
        ],
        "callService": "../../filter/filterservice",
        "startName": "filterSpecific",
        "inputParams": [
            "bh.input.filterdata"
        ],
        "accept_bh": false,
        "functionName": "appointmentTokenFilter",
        "category": "General",
        "x": 1245,
        "y": 220,
        "wires": [
            [
                "sd_rSJjxCm3xlsgnV3O"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_50OcWwyndouCjK7H",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "docto_script",
        "script": "bh.input.filterdata={\ntablename:\"doctors\",\ncolumns:[`${process.env.DB_SCHEMA}.doctors.*, (SELECT name FROM ${process.env.DB_SCHEMA}.department WHERE id = doctors.department_id) AS department_name`],\ndatas:{\n    \"id\":[bh.input.data?.doctor_id]\n}\n}",
        "functionName": "doctoScript",
        "category": "Function",
        "x": 1505,
        "y": 220,
        "wires": [
            [
                "sd_lijNWtD0R1mGyp8d"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    },
    {
        "id": "sd_lijNWtD0R1mGyp8d",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_eBuPhijos3M7fnVJ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "doctor_filter",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_YH9aqPJ68KAnCtkB",
            "type": "tab",
            "createdDate": "2024-02-17T18:43:47.614Z",
            "label": "filterservice",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_wYU9zqSZwf22vVhQ",
            "flowName": "filterSpecific"
        },
        "inputVariables": [
            {
                "key": "filter",
                "map": true,
                "valueType": "bh.input",
                "value": "filterdata"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "doctor_response",
                "mapVarName": "response",
                "localVar": "bh.local.doctor_response"
            }
        ],
        "callService": "../../filter/filterservice",
        "startName": "filterSpecific",
        "inputParams": [
            "bh.input.filterdata"
        ],
        "accept_bh": false,
        "functionName": "doctorFilter",
        "category": "General",
        "x": 1605,
        "y": 220,
        "wires": [
            [
                "sd_WY01PFLnaJqS39rG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "appointment_service",
        "generated": true
    }
]
