designs/server/services/common/auto_doctor_select/auto_doctor_service.json
[
    {
        "id": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "type": "tab",
        "createdDate": "2024-02-16T05:56:10.699Z",
        "label": "auto_doctor_service",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "auto_doctor_service",
        "relativeParentPath": "common/auto_doctor_select"
    },
    {
        "id": "sd_f1gxTwkXDtPVOmf9",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Status_error_report",
        "script": "bh.local.response={\n    statusCode:400,\n    error:bh.error.message\n}",
        "functionName": "statusErrorReport",
        "category": "Function",
        "x": 291,
        "y": 511.5999755859375,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auto_doctor_service",
        "generated": true
    },
    {
        "id": "sd_b1bSUCxIWAnBZSaE",
        "type": "Catch",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "common",
        "nodeType": "start",
        "name": "error_handle",
        "selectedNodes": "all-nodes",
        "selectCatchType": "allnodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_f1gxTwkXDtPVOmf9"
        ],
        "functionName": "errorHandle",
        "category": "General",
        "x": 131,
        "y": 511.5999755859375,
        "wires": [
            [
                "sd_f1gxTwkXDtPVOmf9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auto_doctor_service"
    },
    {
        "id": "sd_otLhY4aMkMQD0RvJ",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "auto_doctor_select",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "response",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "autoDoctorSelect",
        "category": "General",
        "x": 145,
        "y": 320,
        "wires": [
            [
                "sd_QecKCLxPLKHEipWF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auto_doctor_service"
    },
    {
        "id": "sd_bmZgo3ZmXEJsschR",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "doctor_error_response",
        "script": "bh.local.response = {\n  statusCode: 200,\n  data: [],\n  selcted:{}\n};",
        "functionName": "doctorErrorResponse",
        "category": "Function",
        "x": 605,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auto_doctor_service",
        "generated": true
    },
    {
        "id": "sd_QecKCLxPLKHEipWF",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "docto_script",
        "script": "bh.input.filterdata={\ntablename:\"doctors\",\ncolumns:[`${process.env.DB_SCHEMA}.doctors.*, (SELECT name FROM ${process.env.DB_SCHEMA}.department WHERE id = doctors.department_id) AS department_name`],\ndatas:{\n    \"department_id\":[bh.input.data]\n}\n}",
        "functionName": "doctoScript",
        "category": "Function",
        "x": 265,
        "y": 320,
        "wires": [
            [
                "sd_lv5TdXG2PfceJn8T"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auto_doctor_service",
        "generated": true
    },
    {
        "id": "sd_3IpfcYH11kNvA2La",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "time_finder_filter",
        "script": "const currentDate = new Date();\nconst year = currentDate.getFullYear();\nconst month = currentDate.getMonth() + 1; // Month is zero-based, so add 1\nconst day = currentDate.getDate();\nbh.input.formattedDate = `${year}-${month < 10 ? \"0\" + month : month}-${\n  day < 10 ? \"0\" + day : day\n}`;\nlet idArray = bh.local?.doctor_response?.map(doc => doc.id);\nbh.input.appoinmentfilter={\n    \"tablename\":\"appointments\",\n    \"columns\":[\"doctor_id\",\"MAX(token_number) as max_token\"],\n    \"datas\":{\n        \"appointment_date\":[bh.input.formattedDate],\n        \"doctor_id\": idArray\n    },\n    \"groupby\":[\"doctor_id\"]\n}",
        "functionName": "timeFinderFilter",
        "category": "Function",
        "x": 725,
        "y": 320,
        "wires": [
            [
                "sd_yVIelUS1QZYySz6S"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auto_doctor_service",
        "generated": true
    },
    {
        "id": "sd_GBFamdBUYVdVXsiA",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "appointment_error_handler",
        "script": "if(bh.local?.appointment_response?.statusCode==200){\n    bh.local.appointment_response=bh.local.appointment_response?.data\n}else{\n    throw new Error(\"Some error Occured try again later\")\n}\n",
        "functionName": "appointmentErrorHandler",
        "category": "Function",
        "x": 985,
        "y": 320,
        "wires": [
            [
                "sd_a1z6MZMvU9kRrMNR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auto_doctor_service",
        "generated": true
    },
    {
        "id": "sd_a1z6MZMvU9kRrMNR",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "data_manage_and_output",
        "script": "let results = [];\nlet topBalanceToken = Number.MIN_SAFE_INTEGER;\nlet topDoctor = {};\nfor (let i = 0; i < bh.local.doctor_response.length; i++) {\n  let doctorItem = bh.local.doctor_response[i];\n  let appointmentItem = bh.local.appointment_response.find(\n    (app) => app.doctor_id === doctorItem.id\n  );\n  console.log(doctorItem?.token_limit)\n  let balanceToken = doctorItem?.token_limit\n   balanceToken-= appointmentItem?.max_token ||0;\n  results.push({\n      id: doctorItem.id,\n      balanceToken: balanceToken,\n      ...doctorItem,\n    });\n    if (balanceToken > topBalanceToken) {\n      topBalanceToken = balanceToken;\n      topDoctor = {\n        id: doctorItem.id,\n        balanceToken: balanceToken,\n        ...doctorItem,\n      };\n    }\n  }\nbh.local.response = {\n  statusCode: 200,\n  data: results,\n  selcted:topDoctor\n};\nconsole.log(bh.local.response);\n",
        "functionName": "dataManageAndOutput",
        "category": "Function",
        "x": 1145,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auto_doctor_service",
        "generated": true
    },
    {
        "id": "sd_DhVyCYWHgkPpCUYX",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "doctor_response.data.length",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.doctor_response.data.length",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "num",
                "gv": "0"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_DhVyCYWHgkPpCUYX",
        "category": "Function",
        "x": 485,
        "y": 320,
        "wires": [
            [
                "sd_bmZgo3ZmXEJsschR"
            ],
            [
                "sd_ku4npc4boInEB59R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auto_doctor_service",
        "generated": true
    },
    {
        "id": "sd_ku4npc4boInEB59R",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "doctor_error_handler",
        "script": "if(bh.local.doctor_response.statusCode==200){\n    bh.local.doctor_response=bh.local.doctor_response?.data\n}else{\n    throw new Error(\"Some error Occured try again later\")\n}\n",
        "functionName": "doctorErrorHandler",
        "category": "Function",
        "x": 605,
        "y": 320,
        "wires": [
            [
                "sd_3IpfcYH11kNvA2La"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auto_doctor_service",
        "generated": true
    },
    {
        "id": "sd_lv5TdXG2PfceJn8T",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "doctor_filter",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_YH9aqPJ68KAnCtkB",
            "type": "tab",
            "createdDate": "2024-02-17T18:43:47.614Z",
            "label": "filterservice",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_wYU9zqSZwf22vVhQ",
            "flowName": "filterSpecific"
        },
        "inputVariables": [
            {
                "key": "filter",
                "map": true,
                "valueType": "bh.input",
                "value": "filterdata"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "doctor_response",
                "mapVarName": "response",
                "localVar": "bh.local.doctor_response"
            }
        ],
        "callService": "../../filter/filterservice",
        "startName": "filterSpecific",
        "inputParams": [
            "bh.input.filterdata"
        ],
        "accept_bh": false,
        "functionName": "doctorFilter",
        "category": "General",
        "x": 385,
        "y": 320,
        "wires": [
            [
                "sd_DhVyCYWHgkPpCUYX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auto_doctor_service",
        "generated": true
    },
    {
        "id": "sd_yVIelUS1QZYySz6S",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_bthY8bjd638CxsCf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "token_filter",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_YH9aqPJ68KAnCtkB",
            "type": "tab",
            "createdDate": "2024-02-17T18:43:47.614Z",
            "label": "filterservice",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_wYU9zqSZwf22vVhQ",
            "flowName": "filterSpecific"
        },
        "inputVariables": [
            {
                "key": "filter",
                "map": true,
                "valueType": "bh.input",
                "value": "appoinmentfilter"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "appointment_response",
                "mapVarName": "response",
                "localVar": "bh.local.appointment_response"
            }
        ],
        "callService": "../../filter/filterservice",
        "startName": "filterSpecific",
        "inputParams": [
            "bh.input.appoinmentfilter"
        ],
        "accept_bh": false,
        "functionName": "tokenFilter",
        "category": "General",
        "x": 825,
        "y": 320,
        "wires": [
            [
                "sd_GBFamdBUYVdVXsiA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auto_doctor_service",
        "generated": true
    }
]
