designs/server/services/common/get_appointments/get_appointment_flow.json
[
    {
        "id": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "type": "tab",
        "createdDate": "2024-02-13T19:33:54.151Z",
        "label": "get_appointment_flow",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "get_appointment_flow",
        "relativeParentPath": "common/get_appointments"
    },
    {
        "id": "sd_yxCIS4I0s8cOYMlp",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "get_appointment_flow",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "response",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "getAppointmentFlow",
        "category": "General",
        "x": 145,
        "y": 120,
        "wires": [
            [
                "sd_87AEBGnFzWoCPGMl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "get_appointment_flow"
    },
    {
        "id": "sd_FbBsaqJcEphLsFUk",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "user_error_handler",
        "script": "if(bh.local.user_response.statusCode==200){\n    bh.local.user_response=bh.local.user_response?.data?.[0]\n}\nelse{\n    throw new Error(\"Some error Occured try again later\")\n}",
        "functionName": "userErrorHandler",
        "category": "Function",
        "x": 905,
        "y": 240,
        "wires": [
            [
                "sd_aYI6HbzDWk959stk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_M3IfIl4c6OUbC4st",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "doctor_error_handler",
        "script": "if(bh.local.doctor_response.statusCode==200){\n    bh.local.doctor_response=bh.local.doctor_response?.data?.[0]\n}else{\n    throw new Error(\"Some error Occured try again later\")\n}\nconsole.log(bh.local.doctor_response)\n",
        "functionName": "doctorErrorHandler",
        "category": "Function",
        "x": 545,
        "y": 240,
        "wires": [
            [
                "sd_JOhJaV506A9wlvzb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_XQjlPNnfq9rXrmpz",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "appointment_error_handler",
        "script": "if(bh.local?.appointment_response?.statusCode==200){\n    bh.local.appointment_response=bh.local.appointment_response?.data\n}else{\n    throw new Error(\"Some error Occured try again later\")\n}\nconsole.log(bh.local.appointment_response);\n",
        "functionName": "appointmentErrorHandler",
        "category": "Function",
        "x": 525,
        "y": 120,
        "wires": [
            [
                "sd_2MS0cpOf9pSwLbYK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_aYI6HbzDWk959stk",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "Object.assign(bh.input.appointment_response[bh.input.count], {doctordetails:bh.local.doctor_response});\nObject.assign(bh.input.appointment_response[bh.input.count], {userdetails:bh.local.user_response});\nbh.input.count++;\nbh.local.response={\n    statusCode:200,\n    data:bh.input.appointment_response\n}\nconsole.log(bh.input.appointment_response)",
        "functionName": "sd_aYI6HbzDWk959stk",
        "category": "Function",
        "x": 1045,
        "y": 240,
        "wires": [
            [
                "sd_OWSP1UQk0C9RaYol"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_prcXQqfQItQJTOas",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "loop",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "count",
                "defaultValue": {
                    "type": "num",
                    "value": "0"
                },
                "output": false
            },
            {
                "key": "appointment_response",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "response",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "loop",
        "category": "General",
        "x": 25,
        "y": 320,
        "wires": [
            [
                "sd_xkHY1BvpFI21VFAo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "get_appointment_flow"
    },
    {
        "id": "sd_2MS0cpOf9pSwLbYK",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "looping",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
            "type": "tab",
            "createdDate": "2024-02-13T19:33:54.151Z",
            "label": "get_appointment_flow",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_prcXQqfQItQJTOas",
            "flowName": "loop"
        },
        "inputVariables": [
            {
                "key": "count",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "appointment_response",
                "map": true,
                "valueType": "bh.local",
                "value": "appointment_response"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "callService": "./get_appointment_flow",
        "startName": "loop",
        "inputParams": [
            null,
            "bh.local.appointment_response"
        ],
        "accept_bh": false,
        "functionName": "looping",
        "category": "General",
        "x": 665,
        "y": 120,
        "wires": [
            [
                "sd_jIHgvHMx8VHrf6ux"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_OWSP1UQk0C9RaYol",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
            "type": "tab",
            "createdDate": "2024-02-13T19:33:54.151Z",
            "label": "get_appointment_flow",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_prcXQqfQItQJTOas",
            "flowName": "loop"
        },
        "inputVariables": [
            {
                "key": "count",
                "map": true,
                "valueType": "bh.input",
                "value": "count"
            },
            {
                "key": "appointment_response",
                "map": true,
                "valueType": "bh.input",
                "value": "appointment_response"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "callService": "./get_appointment_flow",
        "startName": "loop",
        "inputParams": [
            "bh.input.count",
            "bh.input.appointment_response"
        ],
        "accept_bh": false,
        "functionName": "sd_OWSP1UQk0C9RaYol",
        "category": "General",
        "x": 1165,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_jIHgvHMx8VHrf6ux",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "response",
        "script": "console.log(bh.local.response)\nconsole.log(\"bh.local.response\")",
        "functionName": "response",
        "category": "Function",
        "x": 880,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_xkHY1BvpFI21VFAo",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "appointment_response.length",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.appointment_response.length",
        "rules": [
            {
                "t": "gt",
                "v": "count",
                "vt": "bh.input",
                "gv": "bh.input.count"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_xkHY1BvpFI21VFAo",
        "category": "Function",
        "x": 145,
        "y": 320,
        "wires": [
            [
                "sd_6XECdMWEQC6LVXAk"
            ],
            [
                "sd_nQHChrsnrwjwxJwN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_nQHChrsnrwjwxJwN",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.response={\n    statusCode:200,\n    data:bh.input.appointment_response\n}\nconsole.log(bh.input.appointment_response)",
        "functionName": "sd_nQHChrsnrwjwxJwN",
        "category": "Function",
        "x": 245,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_WAHr1wn4neXtvjXq",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Status_error_report",
        "script": "bh.local.response={\n    statusCode:400,\n    error:bh.error.message\n}",
        "functionName": "statusErrorReport",
        "category": "Function",
        "x": 251,
        "y": 531.5999755859375,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_tlak1OCYWlrZGZX8",
        "type": "Catch",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "start",
        "name": "error_handle",
        "selectedNodes": "all-nodes",
        "selectCatchType": "allnodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_WAHr1wn4neXtvjXq"
        ],
        "functionName": "errorHandle",
        "category": "General",
        "x": 91,
        "y": 531.5999755859375,
        "wires": [
            [
                "sd_WAHr1wn4neXtvjXq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "get_appointment_flow"
    },
    {
        "id": "sd_87AEBGnFzWoCPGMl",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.input.filterdata={\n     \"tablename\":\"appointments\",\n    ...bh.input.data,\n}\nconsole.log(bh.input.data)\nconsole.log(bh.input.filterdata)\n   ",
        "functionName": "sd_87AEBGnFzWoCPGMl",
        "category": "Function",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "sd_5qprqxDDgqn12YnT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_5qprqxDDgqn12YnT",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "appointment_filter",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_YH9aqPJ68KAnCtkB",
            "type": "tab",
            "createdDate": "2024-02-17T18:43:47.614Z",
            "label": "filterservice",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_wYU9zqSZwf22vVhQ",
            "flowName": "filterSpecific"
        },
        "inputVariables": [
            {
                "key": "filter",
                "map": true,
                "valueType": "bh.input",
                "value": "filterdata"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "appointment_response",
                "mapVarName": "response",
                "localVar": "bh.local.appointment_response"
            }
        ],
        "callService": "../../filter/filterservice",
        "startName": "filterSpecific",
        "inputParams": [
            "bh.input.filterdata"
        ],
        "accept_bh": false,
        "functionName": "appointmentFilter",
        "category": "General",
        "x": 385,
        "y": 120,
        "wires": [
            [
                "sd_XQjlPNnfq9rXrmpz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_6XECdMWEQC6LVXAk",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "docto_script",
        "script": "bh.input.filterdata={\ntablename:\"doctors\",\ncolumns:[`${process.env.DB_SCHEMA}.doctors.*, (SELECT name FROM ${process.env.DB_SCHEMA}.department WHERE id = doctors.department_id) AS department_name`],\ndatas:{\n    \"id\":[bh.input.appointment_response?.[bh.input.count]?.doctor_id]\n}\n}",
        "functionName": "doctoScript",
        "category": "Function",
        "x": 305,
        "y": 240,
        "wires": [
            [
                "sd_YRGtP4EA2FSQ8kXW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_YRGtP4EA2FSQ8kXW",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "doctor_filter",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_YH9aqPJ68KAnCtkB",
            "type": "tab",
            "createdDate": "2024-02-17T18:43:47.614Z",
            "label": "filterservice",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_wYU9zqSZwf22vVhQ",
            "flowName": "filterSpecific"
        },
        "inputVariables": [
            {
                "key": "filter",
                "map": true,
                "valueType": "bh.input",
                "value": "filterdata"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "doctor_response",
                "mapVarName": "response",
                "localVar": "bh.local.doctor_response"
            }
        ],
        "callService": "../../filter/filterservice",
        "startName": "filterSpecific",
        "inputParams": [
            "bh.input.filterdata"
        ],
        "accept_bh": false,
        "functionName": "doctorFilter",
        "category": "General",
        "x": 425,
        "y": 240,
        "wires": [
            [
                "sd_M3IfIl4c6OUbC4st"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_JOhJaV506A9wlvzb",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "user_finder_script ",
        "script": "bh.input.filterdata={\n      \"tablename\":\"users\",\n      \"datas\":{\n        \"id\":[bh.input.appointment_response?.[bh.input.count]?.user_id]\n              }\n}",
        "functionName": "userFinderScript",
        "category": "Function",
        "x": 685,
        "y": 240,
        "wires": [
            [
                "sd_DQxfkQIFgVmHcO2Z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    },
    {
        "id": "sd_DQxfkQIFgVmHcO2Z",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_r0H8vsrn1p2lt1Ok",
        "viewType": "common",
        "nodeType": "flow",
        "name": "user_filter",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_YH9aqPJ68KAnCtkB",
            "type": "tab",
            "createdDate": "2024-02-17T18:43:47.614Z",
            "label": "filterservice",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_wYU9zqSZwf22vVhQ",
            "flowName": "filterSpecific"
        },
        "inputVariables": [
            {
                "key": "filter",
                "map": true,
                "valueType": "bh.input",
                "value": "filterdata"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "bh.local",
                "value": "user_response",
                "mapVarName": "response",
                "localVar": "bh.local.user_response"
            }
        ],
        "callService": "../../filter/filterservice",
        "startName": "filterSpecific",
        "inputParams": [
            "bh.input.filterdata"
        ],
        "accept_bh": false,
        "functionName": "userFilter",
        "category": "General",
        "x": 805,
        "y": 240,
        "wires": [
            [
                "sd_FbBsaqJcEphLsFUk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "get_appointment_flow",
        "generated": true
    }
]
